form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Increased grid-gap for space between fields */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form .half-width {
    grid-column: span 1;
}

form .full-width {
    grid-column: span 2;
}

form .button-container {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

form .unity-measurement-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

form .tin-registration-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

form button[type="submit"] {
    grid-column: span 2; /* Spanning two columns */
    justify-self: end; /* Aligning to the end of the grid */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}
