form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 18px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

form .half-width {
    grid-column: span 1;
}

form .full-width {
    grid-column: span 2;
}

form .button-container {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

form .unity-measurement-container,
form .tin-registration-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

form button[type="submit"] {
    grid-column: span 2;
    justify-self: end;
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 180px;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}
